/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-color: #9b8671;
  --font-color: #333333;
  --font-color1: #666666;

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
